<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>區域編輯頁</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../style/backstage.css"> -->

  <!-- 服務上的 -->
  <link rel="stylesheet" href="/project1/style/backstage.css">

</head>
<body>
  <h1>區域編輯頁</h1>
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button class="btn btn-outline-primary" id="timePeriodTripsManagementBtn">時段趟次管理</button>
    <button class="btn btn-outline-success" id="recordsBtn">操作紀錄列表</button>
    <button class="btn btn-outline-danger" id="logoutBtn">登出</button>
  </div>

  <!-- 開關控制 -->
  <div class="switch-container">
    <span class="switch-label">前台狀態: <span id="statusText">停用</span></span>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="cacheSwitch">
      <label class="form-check-label" for="cacheSwitch">啟用</label>
    </div>
  </div>
  

  <!-- 顯示所有區域 -->
  <h2>所有區域資料</h2>
  <table class="table table-striped" id="allRegionsTable" style="display: none;">
    <thead>
      <tr>
        <th>區域名稱</th>
        <th>最大趟數</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <!-- 新增區域 -->
  <h2>新增區域</h2>
  <form id="addRegionForm">
    <label for="newArea">區域名稱:</label>
    <input type="text" id="newArea" required>
    <label for="maxCount">最大趟數:</label>
    <input type="number" id="maxCount" required>
    <button class="btn btn-info" type="submit">新增區域</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../js/backstage.js"></script>
  <script src="../js/cashSwitch.js"></script>
  <script src="../js/logout.js"></script> -->
  <!-- <script src="../js/checkLogin.js"></script> -->

  <!-- 服務上的 -->
  <script src="/project1/js/backstage.js"></script>
  <script src="/project1/js/cashSwitch.js"></script>
  <script src="/project1/js/logout.js"></script> 
  <script src="/project1/js/checkLogin.js"></script>
</body>
</html>
