<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>操作記錄列表</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../style/recordsPage.css">
    <!-- 服務上的 -->
    <!-- <link rel="stylesheet" href="/project1/style/recordsPage.css"> -->
</head>

<body>
    <h1>操作記錄列表</h1>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button class="btn btn-outline-secondary" id="areaManagementBtn">區域管理</button>
        <button class="btn btn-outline-primary" id="timePeriodTripsManagementBtn">時段趟次管理</button>
        <button class="btn btn-outline-danger" id="logoutBtn">登出</button>
      </div>

    <!-- 日期選擇 -->


    <!-- 時間下拉選擇 -->
    <div class="dropdown">  

        <label for="dateSelect">選擇日期:</label>
        <select class="btn btn-outline-dark" id="dateSelect">
            <option value="">所有日期</option>
        </select>
        
        <label for="timeSelect">選擇時間:</label>
        <select class="btn btn-outline-dark" id="timeSelect">
            <option value="">所有時間</option>
        </select>

        <button class="btn btn-outline-primary" id="filterButton">篩選</button>
      </div>


<div class="table-content">
    <table class="table">
        <thead>
            <tr>
                <th>記錄日期</th>
                <th>日期</th>
                <th>時間</th>
                <th>內容</th>
            </tr>
        </thead>
        <tbody id="recordsTableBody">
            <!-- 記錄數據將顯示在這裡 -->
        </tbody>
    </table></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/recordsPage.js"></script> 
    <script src="../js/logout.js"></script> 
    <!-- <script src="../js/checkLogin.js"></script> -->


    <!-- 服務上的 -->
    <!-- <script src="/project1/js/config.js"></script>
    <!-- <script src="/project1/js/recordsPage.js"></script>
    <script src="/project1/js/checkLogin.js"></script>
    <script src="/project1/js/logout.js"></script> -->
</body>

</html>