body {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

.btn-group{
    margin: 20px;
  }

.dropdown{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
  }

  .table-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.table {
    text-align: center;
    align-items: center;
    margin: 20px;
    width: 80%;
    border-collapse: collapse;
}



